<html>
<head>
    <title>Eric Machmer | Projects</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<div class="gallery">
    <figure>
        <img src="assets/images/project1.png" alt="Project 1">
        <figcaption>Project 1 - Description</figcaption>
    </figure>
    <figure>
        <img src="assets/images/project2.png" alt="Project 2">
        <figcaption>Project 2 - Description</figcaption>
    </figure>
    <!-- More projects -->

    Showcase ML graphs, renders, or other projects as a gallery.
    Structure each project with an image and a brief description.
    
</div>